/*
    Style made by leandro.ccq06
*/

._1gL0z {
    background-image: url("chrome-extension://__MSG_@@extension_id__/images/wallpaper.jpg");
    background-position-x: center;
    background-position-y: center;
}
